body{
    margin: 0;
    padding: 0;
    
}

/* header-style */
header{
    background-color: #FF9644;
    height: 10vh;
    display: flex;
    justify-content: center;
    font-family: monospace;
    color: white;
}


/* main-style */
main{
    min-height: 95vh;
    background-color: #C08552;
    padding-top: 50px;
}

/* grid-style */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
   
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: #F6CE71;
    border: 10px solid #FF9644;
    border-radius: 30px;
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}


/* responsive for mobile screens */
@media(max-width:750px){
    
    .container{
        grid-template-columns: 1fr;
        
    }
}